h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-lightblue {
    background-color: #337ab7;
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.info {
    font-size: 12px;
    color: #fff;
}

.callout-icon-primary {
    border-left: 5px solid #007bff;
}

.subtitle_head {
    padding: 10px 50px 10px 5px;
    background-color: #a2f2ef;
    margin: 15px 0px 10px 0px;
    text-align: left;
    color: #111;
}

.mb-min-20 {
    margin-bottom: -20px;
}

.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}


img.penduduk_kecil {
    width: auto;
    max-width: 45px;
    height: auto;
    border-radius: 10%;
    margin: 5px 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-min-20 {
    margin-top: -20px;
}

.nav-pills .nav-link {
    color: #000000;
}

.rem85{
    font-size: 0.85rem;
}

[class*=sidebar-dark-] {
    background-color: #222d32;
}
.sidebar .nav-item {
    font-size: 0.8rem;
    /* Larger font size for zoom effect */
}

.sidebar .nav-item {
    font-size: 0.8rem;
    /* Larger font size for zoom effect */
}

.sidebar .nav-icon {
    transform: scale(0.7);
    /* 1.5 means 150% size */
}

.breadcrumb-item {
    font-size: 12px;
}

.table-bordered {
    border: 1px solid #f4f4f4;
}
.breadcrumb-item .active {
    color: pink;
}

th {
    font-size: 12px;
}

.sidebar .nav-icon-beranda {
    transform: scale(0.6);
    /* 1.5 means 150% size */
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.box-header {
    color: #444;
}


select.form-control-sm~.select2-container--default {
    font-size: 90%;
}

.input-sm {
    height: 25px;
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #d2d6de;
    border-radius: 0px;
}

.bg-gray {
    color: #000;
    background-color: #d2d6de !important;
}

.btn-group-toggle .btn {
    display: block;
    width: 100%;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #343a40;
    color: #fff;
}

.sidebar-mini .main-sidebar .nav-legacy.nav-child-indent .nav-treeview .nav-link, .sidebar-mini-md .main-sidebar .nav-legacy.nav-child-indent .nav-treeview .nav-link, .sidebar-mini-xs .main-sidebar .nav-legacy.nav-child-indent .nav-treeview .nav-link {
    width: calc(250px - 1rem);
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: rgba(255, 255, 255, .9);
    color: #343a40;
}

.custom-file-label-form {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: none;
}

.custom-file-label-form::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
    content: "Browse";
    background-color: #17a2b8;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: rgba(255, 255, 255, .1);
    color: #ffffff;
}

.select2-container--default .select2-dropdown .select2-search__field,
.select2-container--default .select2-search--inline .select2-search__field {
    border: 1px solid #ced4da;
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #ddd;
    color: #444;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    /* overflow-y: auto; */
    font-size: 12px;
}


td.aksi {
    width: 1%;
    white-space: nowrap;
    text-align: left;
}

/* radio button modif */
#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
